* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(to top, rgb(153, 59, 75), rgb(143, 66, 143)); */
    background-color: lightblue;
    padding: 10px;
}

.todo-app {
   
    width: 100%;
    max-width: 540px;
    background: linear-gradient(to top, rgba(163, 69, 85,0.15), rgba(153, 76, 153,0.15));
    margin:150px auto 20px;
    padding:50 40 80;
    border-radius:0px;
    box-shadow: 0 0 30px rgb(0, 0, 0,0.5)

}
h2{
    display:flex;font-size: 30px;
    align-items: center;
    margin-bottom: 50px;
    position: relative;

}
h2 img{
    width:40px;
    position: absolute;
    right: 0px;
}
.row
{
    display:flex;
    align-items:centre;
    justify-content: space-between;
    outline:3px groove black;
    outline-offset: 5px;
    border:none;
    border-radius:30px;
    margin-bottom:20px;
    box-shadow:0 0 10px rgba(0, 0, 0,0.5);

}
input
{
    flex:1;
    border:none;outline:none;
background: transparent;
font-size:18px;
font-weight:600;
letter-spacing:1px;
padding:10px;

}
input::placeholder
{
    color: black;
}
button{
    border:none;
    padding:none;
    padding:16px 30px;
    background:purple;
    color: white;
    font-size:18px;
    font-weight: 600;
    cursor:pointer;
    border-radius:30px;
    margin:1px;
}
ul li
{
    list-style:none;
    font-size:18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding:12px 8px 12px 50px;
    cursor: pointer;
    position:relative;
    margin-block:10px;
}

ul li::before
{
    content:'';
    position:absolute;
    height:30px;
    width:30px;
    border-radius:50%;
    background: url(unchecked.png);
    background-size: cover;
    position:center;
    top:12px;
    left:8px;
}

ul li.checked
{
   background: purple;
   color:white;
   border-radius: 50px;
}

ul li.checked::before
{
    background:url(checked.png);
    background-size: cover;
}

ul li span{
    position: absolute;
    top:10px;
    right:0px;
    margin-right:5px;
    width:30px;
    height:30px;
    line-height:30px;
    font-size: 22px;
    color: black;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover
{
    background-color: black;
    color: white;
}